<p>Powered by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, 
    	<a href="http://velocity.apache.org/" target="_blank">Velocity</a>,
    	<a href="http://www.springsource.org/" target="_blank">Spring</a>  etc.</p>