<!DOCTYPE html>
<html lang="en">
  <head>
	#set($root=$link.getContextPath())
	#parse("head.vm")
  </head>
  <body role="document">
    #parse("navbar.vm")
    <div class="container theme-showcase" role="main">
    	#parse("msg.vm")
    	<!--changed part begin-->
		#parse($bodyPage)
		<!--changed part end -->
        #parse("foot.vm")
    </div>
	#parse("js.vm")
  </body>
</html>
